.title_name {
 text-align: center;
}

.info {
margin: 0 auto;
  width: 500px;
}

.img_file_detail {
  width: 50%;
  height: 50%;
}

.image_data {
  margin: 0 auto;
}

.product_info {
  display: flex;
}
