.product_form {
  margin: 0 auto;
  width: 500px;
}

.product_label {
  font-size: 20px;
}

.product {
  width: 100%;
  margin: 5px 0;
}

.preview {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.img_file_detail {
  width: 100%;
  height: 100%;
}

.color_chart {
  width: 100%;
  height: 400px;
}

.my_comment {
  width: 100%;
  height: 250px;
}

.submit_menu {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 250px;
  font-size: 18px;
}

.submit_btn {
  width: 80px;
  height: 30px;
  margin-right: 50px;
}

.back_text {
  background-color: aquamarine;
}

.back_btn {
  width: 80px;
  height: 30px;
  margin-left: 50px;
}