/* ヘッダー */
.navber-band {
  font-size: 25px;
  margin: 40px 0 0 30px;
  color: #FFFFFF;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  background-color: #044700;
  height: 50px;
}

.navbar-header {
  margin-top: 10px;
}

.new_product {
  width: 80px;
  padding: 12.5px 20px;
  border-radius: 5px;
  background-color: #aeffdd;
  border: 1px solid #000000;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.title_name {
  text-align: center;
}

header {
  background-color: #044700;
}

.back_btn {
  text-align: right;
}

br {
  white-space: pre-line;
}