<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
  <link rel="stylesheet" th:href="@{/css/product/detail.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <meta charset="UTF-8">
  <title>Color Chart Connect</title>
</head>
<body>
  <!-- Header -->
  <header class="header_menu">
    <nav layout:replace="~{layout/header::header}"></nav>
    <div class="new_product">
      <a class="new_btn" th:href="@{/product}">新規投稿</a>
    </div>
  </header>
  <!-- contents -->
  <h1 class="title_name">詳細ページ</h1>
  <div class="info">
    <div class="image_data">
      <img class="img_file_detail" th:src="${product.encodedImageData}" th:alt="${product.image_filename}">
    </div>
    <div class="product_info">
      <label class="info_label">作品名：</label>
      <label th:text="${product.getProduct_name}"></label>
    </div>

    <div class="product_info">
      <label class="info_label">カラーガイド：</label><br>
      <label th:text="${product.getColor_chart}"></label>
    </div>
    <div class="product_info">
      <label class="info_label">コメント：</label><br>
      <label th:text="${product.getComment}"></label>
    </div>
    <div class="edit_menu">
      <div class="edit_text">
        <a class="edit_btn" th:href="@{/product/{product_id}/edit(product_id=${product.getProduct_id()})}">編集</a>
      </div>
      <form method="post" class="delete" th:action="@{/product/{product_id}/delete(product_id=${product.getProduct_id()})}">
        <button type="submit" class="delete_btn">削除</button>
      </form>
    </div>
      <div class="back">
        <a class="back_menu" href="/">戻る</a>
      </div>
  </div>
</body>
</html>
