<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <link rel="stylesheet" th:href="@{/css/product/detail.css}">
  <meta charset="UTF-8">
  <title>Color Chart Connect</title>
</head>
<body>
  <!-- Header -->
  <nav layout:replace="~{layout/header::header}"></nav>
  <!-- contents -->
  <h1 class="title_name">詳細ページ</h1>
  <div class="info">
    <div class="image_data">
      <img class="img_file_detail" th:src="${product.encodedImageData}" th:alt="${product.image_filename}">
    </div>
    <div class="product_info">
      <label class="info_label">作品名：</label>
      <div th:text="${product.getProduct_name()}"></div>
    </div>
    <div class="product_info">
      <label class="info_label">作品名：</label>
      <div th:text="${product.getColor_chart}"></div>
    </div>
    <div class="product_info">
      <label class="info_label">作品名：</label>
      <div th:text="${product.getComment}"></div>
    </div>
  </div>
  <div class="edit_menu">
    <a th:href="@{/product/{product_id}/edit(product_id=${product.getProduct_id()})}">編集</a>
    <form method="post" th:action="@{/product/{product_id}/delete(product_id=${product.getProduct_id()})}">
      <button type="submit" class="delete_btn">削除</button>
    </form>
  </div>
  <a class="back_btn" href="/">戻る</a>
</body>
</html>
