<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <link rel="stylesheet" th:href="@{/css/detail.css}">
  <meta charset="UTF-8">
  <title>Color Chart Connect</title>
</head>
<body>
  <!-- Header -->
  <nav layout:replace="~{layout/header::header}"></nav>
  <!-- contents -->
  <h1>詳細ページ</h1>
  <ul>
    <div class="image_data">
      <img class="imgfile_detail" th:src="${product.encodedImageData}" th:alt="${product.image_filename}">
    </div>
    <li th:text="${product.getProduct_name()}"></li>
    <li th:text="${product.getColor_chart}"></li>
    <li th:text="${product.getComment}"></li>
  </ul>
  <a th:href="@{/product/{product_id}/edit(product_id=${product.getProduct_id()})}">編集</a>
  <form method="post" th:action="@{/product/{product_id}/delete(product_id=${product.getProduct_id()})}">
    <button type="submit">削除</button>
    <a href="/">戻る</a>
  </form>
</body>
</html>
