<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" th:href="@{/css/product/edit.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>編集画面</title>
</head>
<body>
<!-- Header -->
<nav layout:replace="~{layout/header::header}"></nav>
<h1 class="title_name">投稿編集ページ</h1>
<form action="#" th:action="@{/product/{Product_id}/edit(Product_id=${product.getProduct_id()})}" th:method="post" th:object="${product}">
    <div class="product_name_title">Product Name
        <input type="text" id="product-name" class="product" th:field="*{product_name}">
    </div>
    <div class="image">
        <input type="file" name="file" id="file">
    </div>
    <div class="product_comment_title">Color Chart<br>
        例）部位、塗料の色(ブランド名)、比率<br>
        <textarea id="product-color-chart" class="color_chart"
                  placeholder="部位、塗料の色(ブランド名)、比率"
                  th:field="*{color_chart}"></textarea>
    </div>
    <div class="product_comment_title">Comment
        <textarea id="product-comment" class="my_comment" th:field="*{comment}"></textarea>
    </div>
    <button type="submit">更新</button>
    <a class="back_btn" th:href="@{/product/{product_id}(product_id=${product.getProduct_id()})}">戻る</a>
</form>
</body>
</html>