<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>編集画面</title>
</head>
<body>
<!-- Header -->
<nav layout:replace="~{layout/header::header}"></nav>
<h1>投稿編集ページ</h1>
<form action="#" th:action="@{/product/{Product_id}/edit(Product_id=${product.getProduct_id()})}" th:method="post" th:object="${product}">
    <div class="product_name_title">Product Name
        <input type="text" id="product-name" class="product" th:field="*{product_name}">
    </div>
    <div class="image">
        <input type="file" name="file" id="file">
        <img th:src="${'data:image/png;base64,'+image}" alt="">
    </div>
    <div class="product_comment_title">Comment
        <textarea id="product-comment" class="my_comment" th:field="*{comment}"></textarea>
    </div>
    <button type="submit">更新</button>
</form>
</body>
</html>