<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Color Chart Connect</title>
</head>
<body>
<!-- Header -->
<nav layout:replace="~{layout/header::header}"></nav>
<!-- contents -->
カラーガイド一覧
<a th:href="@{/product}">新規投稿画面</a>
<ul th:each="product:${productList}">
    <li>
        <div class="image_data">
            <!-- productFormがnullでない場合にのみ表示する -->
            <th:block th:if="${productForm != null}">
                <!-- product_imageにアクセス -->
                <img th:src="${productForm.product_image}" alt="Product Image">
            </th:block>
        </div>
        <a th:text="${product.getProduct_name()}"
           th:href="@{/product/{product_id}(product_id=${product.getProduct_id()})}"></a>
    </li>
</ul>
</body>
</html>