<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Color Chart Connect</title>
</head>
<body>
<!-- Header -->
<nav layout:replace="~{layout/header::header}"></nav>
<!-- contents -->
カラーガイド一覧
<a th:href="@{/product}">新規投稿画面</a>
<form id="productForm" method="post" class="product_form" th:object="${product}" enctype="multipart/form-data">
    <ul th:each="product:${productList}">
        <li>
            <div class="image_data">
                <!-- productFormがnullでない場合にのみ表示する -->
                <!--            <th:block th:if="${productForm != null}">-->
                <!--                &lt;!&ndash; product_imageにアクセス &ndash;&gt;-->
                <!--                <img th:src="${productForm.product_image}" alt="Product Image">-->
                <!--            </th:block>-->

<!--                <img id="productImage" th:src="${productResult.product_image}">-->
                <p th:text="${message}"></p>
                <img th:src="${'data:image/png;base64,'+image}" alt="">
            </div>
            <a th:text="${product.getProduct_name()}"
               th:href="@{/product/{product_id}(product_id=${product.getProduct_id()})}"></a>
        </li>
    </ul>
</form>

</body>
</html>