<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <link rel="stylesheet" th:href="@{/css/product/product.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script th:src="@{/js/productImage.js}" defer></script>
  <meta charset="UTF-8">
  <title>新規登録</title>
</head>
  <body>
  <!-- Header -->
  <header class="header_menu">
    <nav layout:replace="~{layout/header::header}"></nav>
  </header>
  <h1 class="title_name">新規投稿ページ</h1>
    <form action="#" th:action="@{/product}" th:method="post" th:object="${productForm}" enctype="multipart/form-data">
      <div class="product_form">
        <label class="product_label">Product Name</label><br>
        <label for="product-name"></label>
        <input type="text" id="product-name" class="product" th:field="*{product_name}" th:errorclass="is-invalid">
        <div class="invalid_feedback" th:errors="*{product_name}"></div>
      </div>
      <div class="product_form">
        <input type="file" name="file" id="file" class="import_img">
        <img id="file-preview" class="preview">
      </div>
      <div class="product_form">
        <label class="product_label">Color Chart</label><br>
        例）部位、塗料の色(ブランド名)、比率<br>
        <label for="product-color-chart"></label>
        <textarea id="product-color-chart" class="color_chart"
                  placeholder="部位、塗料の色(ブランド名)、比率"
                  th:field="*{color_chart}" th:errorclass="is-invalid"></textarea>
        <div class="invalid_feedback" th:errors="*{color_chart}"></div>
      </div>
      <div class="product_form">
        <label class="product_label">Comment</label><br>
        <label for="product-comment"></label>
        <textarea id="product-comment" class="my_comment" th:field="*{comment}"></textarea>
      </div>
      <div class="product_form">
        <div class="submit_menu">
          <button type="submit" class="submit_btn">作成</button>
          <div class="back_text">
            <a class="back_btn" href="/">戻る</a>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>