<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Login</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        </p>
        <input name="_csrf" type="hidden" value="iDvpuYyK8s4tYxFssyTjLu5IJtA4pPG6XeyBOLil2xrzBAovu12Ijunrlv8AASRchgnXTNssC7EPnMiXb9zlC4uXuiOVNTod">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <a th:href="@{/user/signup}">新規登録</a>
</div>
</body>
</html>